<%- include('header') %>

<div class="container-fluid mt-3">
    <div><h3 style="font-weight: bold;">ระบบตรวจนับทองคำรูปพรรณ</h3></div>
    <div class="mt-3">
        <button id="saveBtn" class="btn btn-success" style="margin-right: 4px;">
            <span class="material-icon material-symbols-outlined">
                save
            </span>
            บันทึกรายการ
        </button>        
        <!-- <button class="btn btn-danger" onclick="clearGoldtagsCount()">
            <span class="material-icon material-symbols-outlined">
                delete
            </span>
            ลบข้อมูลการนับ
        </button>         -->
    </div>
    <div class="mt-2">
        <button class="btn btn-primary" style="margin-right: 4px;" onclick="reloadAddTags()">
            <span class="material-icon material-symbols-outlined">
                refresh
            </span>
            รีเฟรช
        </button>
        <button class="btn btn-danger" onclick="clearRfidTags()">
            <span class="material-icon material-symbols-outlined">
                clear
            </span>
            ล้างค่า RFID Tags
        </button>
    </div>
    <%
      let totalTags = countgoldtags.length;
    %>
    <div class="mt-4">
        <h3>จำนวนทองคำที่นับได้ : <%= totalTags %> รายการ</h3>
    </div>
    <table class="table table-bordered">
        <thead class="table-success">
            <tr>
                <th width="40px">ลำดับที่</th>
                <th width="100px">Gold_Tag_id</th>
                <th width="100px">ประเภท</th>
                <th width="100px">ขนาด</th>
                <th width="100px">น้ำหนัก</th>
            </tr>
        </thead>
        <tbody>
            <% countgoldtags.forEach((count_tag, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= count_tag.gold_id %></td>
                    <td><%= count_tag.gold_type %></td>
                    <td><%= count_tag.gold_size %></td>
                    <td><%= count_tag.gold_weight %> กรัม</td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('footer') %>

<script>
    function reloadAddTags(){
        window.location.reload(true); //รีหน้าเว็บ
    }
    function clearRfidTags() {
        fetch('/clear_rfid_tags') // เรียกใช้งานเมื่อคลิกที่ปุ่มล้างค่า
            .then(response => response.json())
            .then(data => {
                console.log(data); // แสดงข้อมูลที่ได้รับกลับมาใน console
                window.location.reload(true); //รีหน้าเว็บ
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    // setInterval(reloadAddTags, 1000);
</script>

<script>
    document.getElementById('saveBtn').addEventListener('click', saveGoldTags);
    
    function saveGoldTags() {
        fetch('/save_goldtags', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                window.location.reload(true);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function clearGoldtagsCount() {
        fetch('/clear_goldtags_count') // เรียกใช้งานเมื่อคลิกที่ปุ่มลบข้อมูลการนับ
            .then(response => response.json())
            .then(data => {
                console.log(data); // แสดงข้อมูลที่ได้รับกลับมาใน console
                window.location.reload(true); //รีหน้าเว็บ
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
