<%-  include('header') %>

<form method="GET">
    <div class="container-fluid mt-3">
      <!-- Success message container -->
      <div class="row">
        <div class="col-3">
            <div id="successMessage" class="alert alert-success d-none" role="alert">
                แก้ไขข้อมูลแท็กเรียบร้อยแล้ว
            </div>
        </div>
      </div>
      <!-- Success message container -->
      <div class="row">
        <div class="col-3">
            <div id="deleteSuccessMessage" class="alert alert-danger d-none" role="alert">
                ลบข้อมูลแท็กเรียบร้อยแล้ว
            </div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h3 style="font-weight: bold;">แก้ไขข้อมูลแท็กของทองคำ</h3>
        <a type="button" class="btn btn-success" style="margin-left: 4px;" href="/gold_sales">
          <span class="material-icon material-symbols-outlined">shopping_cart</span> ไปยังหน้าการขาย
        </a>
      </div> 
        <div class="row mt-1">
            <div class="col-2">
              <label style="font-weight: 600;">ประเภทของทองคำ</label>
                <select class="form-select" name="select_goldType">
                    <option value="">เลือกประเภททองคำ</option>
                    <option value="สร้อยคอ" <%= select_goldType === 'สร้อยคอ' ? 'selected' : '' %>>สร้อยคอ</option>
                    <option value="แหวน" <%= select_goldType === 'แหวน' ? 'selected' : '' %>>แหวน</option>
                    <option value="กำไลข้อมือ" <%= select_goldType === 'กำไลข้อมือ' ? 'selected' : '' %>>กำไลข้อมือ</option>
                    <option value="สร้อยข้อมือ" <%= select_goldType === 'สร้อยข้อมือ' ? 'selected' : '' %>>สร้อยข้อมือ</option>
                    <option value="ต่างหู" <%= select_goldType === 'ต่างหู' ? 'selected' : '' %>>ต่างหู</option>
                </select>                
            </div>
            <div class="col-2">
              <label style="font-weight: 600;">ขนาดของทองคำ</label>
                <select class="form-select" name="select_goldSize">
                    <option value="">เลือกขนาดทองคำ</option>
                    <option value="1 สลึง" <%= select_goldSize === '1 สลึง' ? 'selected' : '' %>>1 สลึง</option>
                    <option value="2 สลึง" <%= select_goldSize === '2 สลึง' ? 'selected' : '' %>>2 สลึง</option>
                    <option value="1 บาท" <%= select_goldSize === '1 บาท' ? 'selected' : '' %>>1 บาท</option>
                    <option value="2 บาท" <%= select_goldSize === '2 บาท' ? 'selected' : '' %>>2 บาท</option>
                    <option value="3 บาท" <%= select_goldSize === '3 บาท' ? 'selected' : '' %>>3 บาท</option>
                </select>
            </div>
            <div class="col-2">
              <label style="font-weight: 600;">ค้นหาด้วยเลข Gold_Tag_id</label>
              <input type="text" class="form-control" name="gold_id" placeholder="กรอกเลข Gold_Tag_id" value="<%= gold_id %>">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mt-3">
                <span class="material-icon material-symbols-outlined">
                    search
                </span>
                ค้นหา</button>
            <a type="button" class="btn btn-danger mt-3" style="margin-left: 4px;" href="./edit_goldTagData">
                <span class="material-icon material-symbols-outlined">
                    close
                </span>
                ล้างค่า</a>
        </div>
        <%
        let totalTags = goldsedit.length;
        %>
        <div class="mt-3"><h4>จำนวนแท็กที่มีอยู่ในระบบ : <%= totalTags %> รายการ</h4></div>
        <div>
            <% if (goldsedit.length > 0) { %>
              <table class="table table-bordered mt-3">
                <thead class="table-success">
                  <tr>
                    <th width="100px">ลำดับที่</th>
                    <th>ชนิด</th>
                    <th>ขนาด</th>
                    <th>น้ำหนัก</th>
                    <th>ราคาทองคำ (บาท)</th>
                    <th>ร้านผู้จัดจำหน่าย</th>
                    <th>Gold_Tag_id</th>
                    <th width="160px"></th>
                  </tr>
                </thead>
                <tbody>
                  <% goldsedit.forEach((edit_goldTagData , index) => { %>
                    <tr>
                      <td><%= index+1 %></td>
                      <td><%= edit_goldTagData.gold_type %></td>
                      <td><%= edit_goldTagData.gold_size %></td>
                      <td><%= edit_goldTagData.gold_weight %> กรัม</td>
                      <td>
                        <% if (edit_goldTagData.gold_size === 'ครึ่งสลึง' && edit_goldTagData.gold_weight == 1.9) { %>
                            <%= prices.halfSalung.toFixed(2) %>
                        <% } else if (edit_goldTagData.gold_size === '1 สลึง' && edit_goldTagData.gold_weight == 3.8) { %>
                            <%= prices.oneSalung.toFixed(2) %>
                        <% } else if (edit_goldTagData.gold_size === '2 สลึง' && edit_goldTagData.gold_weight == 7.6) { %>
                            <%= prices.twoSalung.toFixed(2) %>
                        <% } else if (edit_goldTagData.gold_size === '1 บาท' && edit_goldTagData.gold_weight == 15.16) { %>
                            <%= prices.oneBaht.toFixed(2) %>
                        <% } else if (edit_goldTagData.gold_size === '2 บาท' && edit_goldTagData.gold_weight == 30.4) { %>
                            <%= prices.twoBaht.toFixed(2) %>
                        <% } else if (edit_goldTagData.gold_size === '3 บาท' && edit_goldTagData.gold_weight == 45.6) { %>
                            <%= prices.threeBaht.toFixed(2) %>
                        <% } else { %>
                            N/A
                        <% } %>
                      </td>
                      <td><%= edit_goldTagData.dealer_name %></td>
                      <td><%= edit_goldTagData.gold_id %></td>
                      <td class="text-center">
                        <a class="btn btn-primary" style="margin-right:3px;" href="/edit_dataform?gold_id=<%= edit_goldTagData.gold_id %>">
                          <span class="material-icon material-symbols-outlined">
                              edit
                          </span>
                        </a>                    
                        <a class="btn btn-danger" data-bs-toggle="modal" href="#confirmDeleteModal" data-id="<%= edit_goldTagData.gold_id %>">
                          <span class="material-icon material-symbols-outlined">
                              delete
                          </span>
                        </a>                                           
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            <% } else { %>
              <p>ไม่มีข้อมูลทองคำตรงกับเงื่อนไขที่คุณเลือก</p>
            <% } %>
          </div>
    </div> 
</form>

<%-  include('footer') %>

<!-- Modal ยืนยันการลบ -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ยืนยันการลบ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        คุณแน่ใจหรือไม่ว่าต้องการลบรายการนี้?
      </div>
      <div class="modal-footer">
        <a id="confirmDeleteBtn" href="#" class="btn btn-danger">ลบ</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#confirmDeleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var goldId = button.data('id') // Extract info from data-id attributes
    var modal = $(this)
    modal.find('#confirmDeleteBtn').attr('href', '/delete_goldTagData/' + goldId)
  });

  // Display success message if query parameter is set
  document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('success')) {
            const successMessage = document.getElementById('successMessage');
            successMessage.classList.remove('d-none');
            // Hide the message after 2 seconds
            setTimeout(() => {
                successMessage.classList.add('d-none');
            }, 2000);
        }
        if (urlParams.has('deleteSuccess')) {
            const deleteSuccessMessage = document.getElementById('deleteSuccessMessage');
            deleteSuccessMessage.classList.remove('d-none');
            // Hide the message after 3 seconds
            setTimeout(() => {
                deleteSuccessMessage.classList.add('d-none');
            }, 2000);
        }
    });
</script>

<script>
  // รอให้หน้าเว็บโหลดเสร็จก่อนที่จะทำงาน
  document.addEventListener("DOMContentLoaded", function() {
      // เลือก element ที่ต้องการกรองข้อมูล
      const goldTypeSelect = document.querySelector('select[name="select_goldType"]');
      const goldSizeSelect = document.querySelector('select[name="select_goldSize"]');
      const form = document.querySelector('form');
      form.addEventListener('submit', function(event) {
          event.preventDefault(); // Prevent form submission
          const formData = new FormData(form);
          const queryString = new URLSearchParams(formData).toString();
          window.location.href = `/edit_goldTagData?${queryString}`;
      });

      // เพิ่ม event listener สำหรับ input date และ select
      goldTypeSelect.addEventListener('change', filterData);
      goldSizeSelect.addEventListener('change', filterData);
      
      // function สำหรับกรองข้อมูล
      function filterData() {
          // เก็บค่าที่กรองไว้
          const goldType = goldTypeSelect.value;
          const goldSize = goldSizeSelect.value;
          
          // สร้าง query string สำหรับส่งไปที่ server
          let queryString = `?select_goldType=${goldType}&select_goldSize=${goldSize}`;
          
          // โหลดหน้าใหม่ด้วย query string ที่สร้างขึ้น
          window.location.href = `/edit_goldTagData${queryString}`;
      }
  });
</script>

