<%-  include('header') %>
    <form method="post">
        <div class="mt-3">
            <label>รายการ</label>
            <div class="col-3"><input type="text" name="topic" class="form-control" value="<%= data.topic %>"/></div>
        </div>
        <div class="mt-3">
            <label>ยอดเงิน</label>
            <div class="col-3"><input type="text" name="total" class="form-control" value="<%= data.total %>"/></div>
        </div>
        <div class="mt-3">
            <div><label>วันที่</label></div>
            <div class="col-1"><input type="date" name="pay_date" class="form-control" value="<%= dayjs(data.pay_date).format('YYYY-MM-DD') %>"/></div>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-success">
                <span class="material-icon material-symbols-outlined">
                    save
                    </span>
                บันทึก</button>
            <a href="/" class="btn btn-primary">
                <span class="material-icon material-symbols-outlined">
                    home
                </span>
                กลับหน้าหลัก
            </a>
            
        </div>
        
    </form>
    

<%-  include('footer') %>

    
