<%- include('header') %>

<form method="GET" id="dateForm">
    <div class="mb-4">
        <label for="selectedDate" class="form-label">เลือกวันที่</label>
        <input type="date" id="selectedDate" name="date" class="form-control" value="<%= dayjs(date).format('YYYY-MM-DD') %>">
    </div>
    
    <!-- Display total sales summary -->
    <br>
    <div class="total-summary d-flex justify-content-between mb-4">
        <div class="flex-fill text-center p-2 border">
            <h4 style="font-size: 1.5rem;">ยอดขายรายวัน</h4>
            <p style="font-size: 1.25rem;"><%= totals.day_sale.toFixed(2) %></p>
        </div>
        <div class="flex-fill text-center p-2 border">
            <h4 style="font-size: 1.5rem;">ยอดขายรายสัปดาห์</h4>
            <p style="font-size: 1.25rem;"><%= totals.week_sale.toFixed(2) %></p>
        </div>
        <div class="flex-fill text-center p-2 border">
            <h4 style="font-size: 1.5rem;">ยอดขายรายเดือน</h4>
            <p style="font-size: 1.25rem;"><%= totals.month_sale.toFixed(2) %></p>
        </div>
        <div class="flex-fill text-center p-2 border">
            <h4 style="font-size: 1.5rem;">ยอดขายรวม</h4>
            <p style="font-size: 1.25rem;"><%= totals.total_sale.toFixed(2) %></p>
        </div>
    </div>

    <div id="sales-summary">
        <%- include('partials/sales_summary_partial', { users: users }) %>
    </div>
</form>

<%- include('footer') %>

<script>
  function refreshSalesSummary() {
    const selectedDate = document.querySelector('#selectedDate').value;
    fetch(`/gold_sales_summary_partial?date=${selectedDate}`)
      .then(response => response.text())
      .then(html => {
        document.getElementById('sales-summary').innerHTML = html;
      })
      .catch(error => console.error('Error fetching sales summary:', error));
  }

  document.getElementById('selectedDate').addEventListener('change', function() {
    document.getElementById('dateForm').submit();
  });

  // Refresh every 1 second
  setInterval(refreshSalesSummary, 1000);
</script>
