<%- include('header') %>

<div class="container-fluid">
    <h1 class="mt-3">รายละเอียดการขายทองคำ</h1>
    <h5 class="mt-3">จำนวนรายการทองคำที่ขายทั้งหมด: <%= outStockCount %> รายการ</h5>

    <table class="table table-bordered mt-3">
        <thead class="table-success">
            <tr>
                <th>Gold Tag ID</th>
                <th>ประเภททองคำ</th>
                <th>ขนาดทองคำ</th>
                <th>น้ำหนัก (กรัม)</th>
                <th>ร้านผู้จัดจำหน่าย</th>
                <th>ราคา</th>
            </tr>
        </thead>
        <tbody>
            <% details.forEach((detail) => { %>
                <tr>
                    <td><%= detail.gold_id %></td>
                    <td><%= detail.gold_type %></td>
                    <td><%= detail.gold_size %></td>
                    <td><%= detail.gold_weight %></td>
                    <td><%= detail.dealer_name %></td>
                    <td><%= detail.gold_price %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
    <div class="mt-3">
        <h6>ผู้ซื้อ: 
            <% if (details.length > 0) { %>
                <%= details[0].customer_name + " " + details[0].customer_surname %> 
            <% } else { %>
                ไม่มีข้อมูลผู้ซื้อ
            <% } %>
        </h6>
        <h6>ผู้ทำการขาย: 
            <% if (details.length > 0) { %>
                <%= details[0].seller_name %>
            <% } else { %>
                ไม่มีข้อมูลผู้ขาย
            <% } %>
        </h6>
        <!-- หากต้องการแสดงผู้ซื้อหรือผู้ขายหลายคนเป็นข้อความ เช่น "หลายคน" -->
        <!-- 
        <h6>ผู้ซื้อ: 
            <%= details.some(detail => detail.customer_name !== details[0].customer_name) ? "หลายคน" : details[0].customer_name + " " + details[0].customer_surname %> 
        </h6>
        <h5>ผู้ขาย: 
            <%= details.some(detail => detail.seller_name !== details[0].seller_name) ? "หลายคน" : details[0].seller_name %>
        </h6> 
        -->
    </div>

    <!-- แสดงเวลาที่ขายด้านล่าง -->
    <div class="mt-4 d-flex justify-content-between">
        <h5>เวลาที่ทำการขาย: 
            <% if (details.length > 0) { %>
                <%= dayjs(details[0].gold_outDateTime).format('DD-MM-YYYY HH:mm:ss') %>
            <% } else { %>
                ไม่มีข้อมูลเวลาที่ขาย
            <% } %>
        </h5>
        <h4>ราคารวม: <%= totalPrice.toLocaleString() %> บาท</h4>
    </div>
    

    <a href="/gold_salesHistory" class="btn btn-primary mt-3">กลับไปหน้ารายการทั้งหมด</a>
</div>

<%- include('footer') %>
