<%-  include('header') %>

<form method="GET">
      <div class="container-fluid mt-3">
        <div><h3 style="font-weight: bold;">ข้อมูลทองคำที่มีอยู่ในระบบ</h3></div>
        <div class="row mt-2">
            <div class="col-2">
              <label style="font-weight: 600;">ประเภทของทองคำ</label>
                <select class="form-select" name="select_goldType">
                    <option value="">เลือกประเภททองคำ</option>
                    <option value="สร้อยคอ" <%= select_goldType === 'สร้อยคอ' ? 'selected' : '' %>>สร้อยคอ</option>
                    <option value="แหวน" <%= select_goldType === 'แหวน' ? 'selected' : '' %>>แหวน</option>
                    <option value="กำไลข้อมือ" <%= select_goldType === 'กำไลข้อมือ' ? 'selected' : '' %>>กำไลข้อมือ</option>
                    <option value="สร้อยข้อมือ" <%= select_goldType === 'สร้อยข้อมือ' ? 'selected' : '' %>>สร้อยข้อมือ</option>
                    <option value="ต่างหู" <%= select_goldType === 'ต่างหู' ? 'selected' : '' %>>ต่างหู</option>
                </select>                
            </div>
            <div class="col-2">
              <label style="font-weight: 600;">ขนาดของทองคำ</label>
                <select class="form-select" name="select_goldSize">
                    <option value="">เลือกขนาดทองคำ</option>
                    <option value="ครึ่งสลึง" <%= select_goldSize === 'ครึ่งสลึง' ? 'selected' : '' %>>ครึ่งสลึง</option>
                    <option value="1 สลึง" <%= select_goldSize === '1 สลึง' ? 'selected' : '' %>>1 สลึง</option>
                    <option value="2 สลึง" <%= select_goldSize === '2 สลึง' ? 'selected' : '' %>>2 สลึง</option>
                    <option value="1 บาท" <%= select_goldSize === '1 บาท' ? 'selected' : '' %>>1 บาท</option>
                    <option value="2 บาท" <%= select_goldSize === '2 บาท' ? 'selected' : '' %>>2 บาท</option>
                    <option value="3 บาท" <%= select_goldSize === '3 บาท' ? 'selected' : '' %>>3 บาท</option>
                </select>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mt-3">
                <span class="material-icon material-symbols-outlined">
                    search
                </span>
                ค้นหา</button>
            <a type="button" class="btn btn-danger mt-3" style="margin-left: 4px;" href="./gold_list">
                <span class="material-icon material-symbols-outlined">
                    close
                </span>
                ล้างค่า</a>
        </div>
        <%
        let totalGold = goldslist.length;
        %>
        <div class="mt-3"><h4>จำนวนทองคำในระบบ : <%= totalGold %> รายการ</h4></div>
        <div>
            <% if (goldslist.length > 0) { %>
              <table class="table table-bordered mt-2">
                <thead class="table-success">
                  <tr>
                    <th width="100px">ลำดับที่</th>
                    <th>ชนิด</th>
                    <th>ขนาด</th>
                    <th>น้ำหนัก</th>
                    <th>Gold_Tag_id</th>
                    <th>วันที่บันทึกเข้าระบบ</th>
                    <th width="160px"></th>
                  </tr>
                </thead>
                <tbody>
                  <% goldslist.forEach((gold_list , index) => { %>
                    <tr>
                      <td><%= index+1 %></td>
                      <td><%= gold_list.gold_type %></td>
                      <td><%= gold_list.gold_size %></td>
                      <td><%= gold_list.gold_weight %> กรัม</td>
                      <td><%= gold_list.gold_id %></td>
                      <td><%= dayjs(gold_list.gold_timestamp).locale('th').format('DD-MM-YYYY HH:mm:ss') %></td>
                      <td class="text-center">
                        <a class="btn btn-primary" style="margin-right:3px;" href="/edit_countdataform?gold_id=<%= gold_list.gold_id %>">
                          <span class="material-icon material-symbols-outlined">
                              edit
                          </span>
                        </a>                    
                        <a class="btn btn-danger" data-bs-toggle="modal" href="#confirmDeleteModal" data-id="<%= gold_list.gold_id %>">
                          <span class="material-icon material-symbols-outlined">
                              delete
                          </span>
                        </a>                                           
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            <% } else { %>
              <p>ไม่มีข้อมูลทองคำตรงกับเงื่อนไขที่คุณเลือก</p>
            <% } %>
          </div>
    </div>
</form>

<%-  include('footer') %>

<!-- Modal ยืนยันการลบ -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ยืนยันการลบ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        คุณแน่ใจหรือไม่ว่าต้องการลบรายการนี้?
      </div>
      <div class="modal-footer">
        <a id="confirmDeleteBtn" href="#" class="btn btn-danger">ลบ</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#confirmDeleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var goldId = button.data('id') // Extract info from data-id attributes
    var modal = $(this)
    modal.find('#confirmDeleteBtn').attr('href', '/delete_goldCountData/' + goldId)
  })
</script>