<%- include('header') %>
<form method="GET">
    <div>
        <!-- Display total sales summary -->
        <br>
        <div class="total-summary d-flex justify-content-between mb-4">
            <div class="flex-fill text-center p-2 border">
                <h4 style="font-size: 1.5rem;">ยอดขายรายวัน</h4>
                <p style="font-size: 1.25rem;"><%= totals.day_sale.toFixed(2) %></p>
            </div>
            <div class="flex-fill text-center p-2 border">
                <h4 style="font-size: 1.5rem;">ยอดขายรายสัปดาห์</h4>
                <p style="font-size: 1.25rem;"><%= totals.week_sale.toFixed(2) %></p>
            </div>
            <div class="flex-fill text-center p-2 border">
                <h4 style="font-size: 1.5rem;">ยอดขายรายเดือน</h4>
                <p style="font-size: 1.25rem;"><%= totals.month_sale.toFixed(2) %></p>
            </div>
            <div class="flex-fill text-center p-2 border">
                <h4 style="font-size: 1.5rem;">ยอดขายรวม</h4>
                <p style="font-size: 1.25rem;"><%= totals.total_sale.toFixed(2) %></p>
            </div>
        </div>

        <table class="table table-bordered mt-4">
            <thead class="table-success">
                <tr>
                    <th width="40px">ลำดับที่</th>
                    <th width="160px">ชื่อในระบบ</th>
                    <th width="320px">ชื่อพนักงาน</th>
                    <th width="160px">ยอดขายรายวัน</th>
                    <th width="160px">ยอดขายรายสัปดาห์</th>
                    <th width="160px">ยอดขายรายเดือน</th>
                    <th width="160px">ยอดขายรวม</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= user.usr %></td>
                        <td><%= user.name %></td>
                        <td><%= user.day_sale.toFixed(2) %></td>
                        <td><%= user.week_sale.toFixed(2) %></td>
                        <td><%= user.month_sale.toFixed(2) %></td>                                    
                        <td><%= user.total_sale.toFixed(2) %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</form>
<%- include('footer') %>