<%- include('header') %>

<form method="GET">
    <div class="container-fluid mt-3">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h3 style="font-weight: bold;">ประวัติการขายทองคำรูปพรรณ</h3>
            <a type="button" class="btn btn-success" style="margin-left: 4px;" href="/gold_sales">
              <span class="material-icon material-symbols-outlined">shopping_cart</span> ไปยังหน้าการขาย
            </a>
        </div>   
        <!-- ฟิลเตอร์เลือกช่วงวันที่ -->
        <div class="row mt-1">
            <div class="col-2">
                <label for="start_date_input" style="font-weight: 600;">เลือกวันที่เริ่มต้น</label>
                <input type="date" class="form-control" id="start_date_input" name="start_date" value="<%= startDate %>" placeholder="เลือกวันที่เริ่มต้น">
            </div>
            <div class="col-2">
                <label for="end_date_input" style="font-weight: 600;">ถึงวันที่</label>
                <input type="date" class="form-control" id="end_date_input" name="end_date" value="<%= endDate %>" placeholder="ถึงวันที่">
            </div>
            <div class="col-2 align-self-end">
                <a type="button" class="btn btn-danger" style="margin-left: 4px;" href="./gold_salesHistory">
                    <span class="material-icon material-symbols-outlined">
                        close
                    </span>
                    ล้างค่า
                </a>
            </div>
        </div>
        <div class="mt-3">
            <% if (goldshistory.length > 0) { %>
                <table class="table table-bordered mt-3">
                    <thead class="table-success">
                        <tr>
                            <th>เลขที่รายการ</th>
                            <th>วันที่ขายออก</th>
                            <th>จำนวนสินค้า</th>
                            <th width="160px">รายละเอียดการซื้อขาย</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% goldshistory.forEach(group => { %>
                            <tr>
                                <td><%= group._id %></td> <!-- ใช้ group._id หรือ group.order_number -->
                                <td><%= dayjs(group.gold_outDateTime).format('DD/MM/YYYY HH:mm:ss') %></td>
                                <td><%= group.gold_items.length %> รายการ</td>
                                <td class="text-center">
                                    <a href="/gold_salesHistory/<%= group._id %>" class="btn btn-success">
                                        <span class="material-icon material-symbols-outlined">format_list_bulleted</span> รายละเอียด
                                    </a>
                                </td>                                                                                             
                            </tr>
                        <% }) %>                        
                    </tbody>
                </table>                
            <% } else { %>
                <p>ไม่มีข้อมูลทองคำตรงกับเงื่อนไขที่คุณเลือก</p>
            <% } %>
        </div>
        <!-- Pagination controls -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mt-3">
                <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=1&<%= queryParams %>">หน้าแรก</a>
                </li>
                <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= currentPage - 1 %>&<%= queryParams %>" aria-label="Next"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>&<%= queryParams %>"><%= i %></a>
                    </li>
                <% } %>
                <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= currentPage + 1 %>&<%= queryParams %>" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
                <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= totalPages %>&<%= queryParams %>">หน้าสุดท้าย</a>
                </li>
            </ul>
        </nav>
    </div>
</form>

<%- include('footer') %>

<script>
    // รอให้หน้าเว็บโหลดเสร็จก่อนที่จะทำงาน
    document.addEventListener("DOMContentLoaded", function() {
        // เลือก element ที่ต้องการกรองข้อมูล
        const startDateInput = document.getElementById('start_date_input');
        const endDateInput = document.getElementById('end_date_input');
        const goldTypeSelect = document.querySelector('select[name="select_goldType"]');
        const goldSizeSelect = document.querySelector('select[name="select_goldSize"]');
        const form = document.querySelector('form');
        form.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form submission
            const formData = new FormData(form); //รับค่าจาก form
            const queryString = new URLSearchParams(formData).toString();
            window.location.href = `/gold_salesHistory?${queryString}`; //เข้าลิ้งค์จากรายการที่เลือก
        });

        // เพิ่ม event listener สำหรับ input date และ select
        startDateInput.addEventListener('change', filterData);
        endDateInput.addEventListener('change', filterData);
        goldTypeSelect.addEventListener('change', filterData);
        goldSizeSelect.addEventListener('change', filterData);
        
        // function สำหรับกรองข้อมูล
        function filterData() {
            // เก็บค่าที่กรองไว้
            const startDate = startDateInput.value;
            const endDate = endDateInput.value;
            const goldType = goldTypeSelect.value;
            const goldSize = goldSizeSelect.value;
            
            // สร้าง query string สำหรับส่งไปที่ server
            let queryString = `?start_date=${startDate}&end_date=${endDate}&select_goldType=${goldType}&select_goldSize=${goldSize}`;
            
            // โหลดหน้าใหม่ด้วย query string ที่สร้างขึ้น
            window.location.href = `/gold_salesHistory${queryString}`;
        }
    });
</script>



<script>
    document.getElementById('start_date_input').addEventListener('change', function () {
        this.form.submit(); // ส่งฟอร์มอัตโนมัติเมื่อมีการเลือกวันที่เริ่มต้น
    });

    document.getElementById('end_date_input').addEventListener('change', function () {
        this.form.submit(); // ส่งฟอร์มอัตโนมัติเมื่อมีการเลือกวันที่สิ้นสุด
    });
</script>


<style>
    .page-item.active .page-link {
        background-color: #007bff;
        color: #ffffff;
    }
    .color-nextpage {
        background-color: #007bff; /* สีเน้นของหน้าปัจจุบัน */
        color: #ffffff; /* สีข้อความของหน้าปัจจุบัน */
    }
    .color-previouspage {
        background-color: #f88379; /* สีเน้นของหน้าปัจจุบัน */
        color: #ffffff; /* สีข้อความของหน้าปัจจุบัน */
    }
</style>
