<%-  include('header') %>

  <div class="container-fluid mt-3">
    <%
      let totalGold = golds.length;
    %>
    <div class="mt-4"><h3>จำนวนทองคำในระบบ : <%= totalGold %> รายการ</h3></div>

    <div class="mt-4">
      <table class="table table-bordered mt-3">
        <thead class="table-success">
          <tr>
            <th width="100px">ลำดับที่</th>
            <th>ชนิด</th>
            <th>ขนาด</th>
            <th>น้ำหนัก</th>
            <th>Gold_Tag_id</th>
            <th>วันที่บันทึกเข้าระบบ</th>
          </tr>
        </thead>
        <tbody>
          <% golds.forEach((gold , index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= gold.gold_type %></td>
              <td><%= gold.gold_size %></td>
              <td><%= gold.gold_weight %> กรัม</td>
              <td><%= gold.gold_id %></td>
              <td><%= dayjs(gold.gold_timestamp).locale('th').format('DD-MM-YYYY HH:mm:ss') %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

<%-  include('footer') %>

