<%-  include('header') %>

  <div class="container-fluid mt-3">
    <%
      let totalGold = golds.length;
    %>
    <div class="mt-4"><h3>จำนวนทองคำในระบบ : <%= totalGold %> รายการ</h3></div>

    <div class="mt-4">
      <table class="table table-bordered mt-3">
        <thead class="table-success">
          <tr>
            <th width="100px">ลำดับที่</th>
            <th>ชนิด</th>
            <th>ขนาด</th>
            <th>น้ำหนัก</th>
            <th>Gold_Tag_id</th>
          </tr>
        </thead>
        <tbody>
          <% golds.forEach((gold_list , index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= gold_list.goldtype %></td>
            <td><%= gold_list.size %></td>
            <td><%= gold_list.weight %></td>
            <td><%= gold_list.gold_id %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

<%-  include('footer') %>

